@import "tailwindcss";

@theme {
  --header-height: 64px;
  --color-brand-primary: #a98fc3;
  --color-brand-accent: #6ec3a7;
  --color-brand-gold: #f0c452;
  --color-brand-white: #ffffff;
}

html,
body {
  color: var(--color-slate-200);
}

html {
  background-color: var(--color-slate-600);
}